.container {
  max-width: 840px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  padding-top: 7rem;
}

.share_data {
  text-align: center;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
  text-align: center;
}

.section_subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
  text-align: center;
}

.share_description {
  margin-bottom: var(--mb-2);
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1.1rem;
  width: 100%;
  justify-content: center;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.button:hover {
  background-color: var(--first-color-alt);
}
.button_flex {
  display: inline-flex;
  align-items: center;
}

.share_img {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  width: 400px;
}

@media screen and (min-width: 359px) {
  .share_img {
    width: 100%;
    margin-left: 0.15rem;
  }
  .button {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .button {
    width: 100%;
  }
  .share_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .share_data {
    text-align: initial;
  }
  .share_img {
    height: 200px;
    width: 100%;
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  .share_img {
    width: 350px;
    height: 250px;
  }
}

@media screen and (min-width: 871px) {
  .share_img {
    width: 387px;
    height: 250px;
  }
}

@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .share_container {
    column-gap: 5rem;
  }
  .share_img {
    width: 390px;
    height: 260px;
  }
}
