.section {
  padding-top: 9rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
  text-align: center;
}

.section_subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.container {
  max-width: 840px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.portfolio_container {
  overflow: initial;
}

.portfolio_content {
  padding: 0 1.5rem;
}

.portfolio_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio_title {
  font-size: var(--h3-font-size);
  padding-top: 1rem;
  margin-bottom: var(--mb-0-5);
}

.portfolio_description {
  margin-bottom: 4rem;
}

.portfolio_button:hover .button_icon {
  transform: translateX(0.25rem);
}

.button_small {
  padding: 0.75rem 1rem;
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

@media screen and (min-width: 315px) {
  .portfolio_title {
    font-size: var(--normal-font-size);
  }
  .portfolio_description {
    font-size: var(--normal-font-size);
  }
}
@media screen and (min-width: 568px) {
  .portfolio_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio_img {
    width: 300px;
  }
  .portfolio_content {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__content {
    column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
}
