.noscroll {
  display: none;
}
.container {
  max-width: 860px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  display: grid;
  gap: 1rem;
}

.content {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.img {
  width: 260px;
  border-radius: 10%;
}

.data {
  grid-column: 1/3;
}

.title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-75);
}

.subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.description {
  margin-bottom: var(--mb-2);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}
.button_flex {
  display: inline-flex;
  align-items: center;
}
/* .scroll {
  display: none;
} */

.scroll_button {
  color: var(--first-color);
  cursor: pointer;
  transition: 0.3s;
}

.scroll_button:hover {
  transform: translateY(0.25rem);
}

.scroll_mouse {
  font-size: 1.2rem;
}

.scroll_name {
  font-size: var(--small-font-size);
  /* color: var(--title-color); */
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.scroll_arrow {
  font-size: 1rem;
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .content {
    grid-template-columns: 0.25fr 3fr;
  }
  .img {
    width: 180px;
  }
  .noscroll {
    display: none;
  }
}

@media screen and (min-width: 568px) {
  .scroll {
    margin-left: var(--mb-2);
  }
  .content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .data {
    grid-column: initial;
  }
  .img {
    order: 1;
    justify-self: center;
  }
  .noscroll {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 4.3rem;
    column-gap: 2rem;
  }
  .img {
    width: 270px;
  }
  .scroll {
    display: block;
    margin-left: 0;
  }
  .scroll_button {
    margin-left: 3rem;
  }
  .noscroll {
    display: none;
  }
}
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .img {
    width: 320px;
  }
  .social {
    transform: translateX(-6rem);
  }
  .scroll {
    display: block;
    margin-left: 0;
  }
  .noscroll {
    display: none;
  }
}
