.section {
  padding-top: 8rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
  text-align: center;
}

.section_subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.container {
  max-width: 840px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-3);
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--first-color);
}

.button_flex {
  display: inline-flex;
  align-items: center;
}

.qualification_button.qualification_active {
  color: var(--first-color);
}

.qualification_icon {
  font-size: 1.3rem;
  margin-right: var(--mb-0-5);
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification_calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  /* border-radius: 50%; */
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

@media screen and (max-width: 350px) {
  .qualification_data {
    gap: 0.5rem;
  }
}

@media screen and (min-width: 568px) {
  .qualification_sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .qualification_tabs {
    justify-content: center;
  }
  .qualification_button {
    margin: 0 var(--mb-1);
  }
  .qualification_sections {
    grid-template-columns: 0.5fr;
  }
}
